node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# native
ios/
android/

# macOS
.DS_Store

# Env
.env*
!.env.example

# Metro
.metro-health-check*

# debug
*.log
